In [1]:
from lib2to3.pgen2 import driver
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
import time

In [2]:
s = Service(r"./driver/chromedriver.exe")
driver = webdriver.Chrome(service=s)
# driver.implicitly_wait(10)
driver.get("https://www.amazon.com/b?node=283155")
search = driver.find_element("id", 'twotabsearchtextbox')
search.send_keys("books")
search.send_keys(Keys.RETURN)
data = []
try:
    books = WebDriverWait(driver, 10).until(
    EC.visibility_of_all_elements_located((By.ID, 'gridItemRoot'))
    )
    print(len(books))
    for book in books:
        title = book.find_element(By.TAG_NAME, 'span').text
        price = book.find_element(By.CLASS_NAME, '_cDEzb_p13n-sc-price_3mJ9Z').text
        data.append((title,price))
finally:
    driver.quit()

12

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data, columns= ["title", "price"])
df

                                                title   price
0    It Starts with Us: A Novel (2) (It Ends with Us)  $12.99
1   I'm So Glad You Were Born: Celebrating Who You...  $14.24
2                                              Verity  $11.26
3                                I'm Glad My Mom Died  $18.51
4                Live Wire: Long-Winded Short Stories  $19.34
5                        It Ends with Us: A Novel (1)   $9.99
6   Confidence Man: The Making of Donald Trump and...  $20.77
7   Atomic Habits: An Easy & Proven Way to Build G...  $11.98
8                                          Fairy Tale  $18.49
9   Killing the Legends: The Lethal Danger of Cele...  $19.98
10  The Body Keeps the Score: Brain, Mind, and Bod...  $11.40
11                            Where the Crawdads Sing   $9.98

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12 non-null     object
 1   price   12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes